!#arg c1 string 
!#arg c2 string
<p>Hi, let's go!</p>

<p>Below is a simple "greeting" component.</p>

<div data-bind="{{s c1}}"></div>

<p>TODO: develop the most efficient way of generating markup in go. Literal strings are "ok".</p>

<p>TODO: develop more examples, to flesh out use cases.</p>

<p>Here is another one, a simple counter...</p>

<div data-bind="{{s c2}}"></div>