<p>
    The count is
    <span data-bind="{text:count}"></span>
</p>
<p>
    Click on the appropriate words to
    <span data-bind="{click:doIncrement}" style="cursor: pointer;">increment</span> or
    <span data-bind="{click:doDecrement}" style="cursor: pointer;">decrement</span> the counter.
</p>